.home-page {
  display: grid;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  padding: auto;
}

@media (min-width: 1500px ) {
  .home-page {
    width: 1500px;
    margin: auto;
  }
  .movie-cards {
  }
}
