$mamba-gray: #89838B;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: $mamba-gray;
  // background: url('./components/App/texture.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-app {
  padding: 0;
  display: grid;
  justify-self: center;
}
